.openerp { font-size: 12px;}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] { font-size: 12px;}

.oe_secondary_submenu .oe_menu_leaf { padding: 6px 0px 4px 36px !important; }

.btn.oe_follower.oe_notfollow { background: #BC7261!important;}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] { background: #BC7261;}
.openerp .oe_searchview_drawer .button { color: #BC7261!important; }
.openerp .oe_button.oe_link { color: #BC7261; }
.oe_searchview.oe_focused, .openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea:focus { border-bottom-color: #BC7261!important;}
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field input:focus,
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea:focus { border-color: #BC7261;}
.openerp input[type="textarea"]:focus, .openerp input[type="text"]:focus, .openerp textarea:focus, .openerp select:focus { border-color: #BC7261; }
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]):focus,
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]):focus,
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]):focus { border-color: #BC7261!important; }
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea:focus {  border-bottom-color: #BC7261!important; }
.oe_im_chatview .oe_im_chatview_input:focus { border-bottom-color: #BC7261!important;}
.oe_im .oe_im_frame_header .oe_im_searchbox:focus { border-bottom-color: #BC7261!important; }

.openerp .oe_application a { color: #A3442F;}

#oe_main_menu_navbar li a, #oe_main_menu_navbar li button { padding: 17px 14px; }

.openerp a.button:focus, .openerp button:focus, .openerp .oe_button:focus, .openerp input[type='submit']:focus { background: #A3442F;}
.openerp a.button:hover, .openerp button:hover, .openerp .oe_button:hover, .openerp input[type='submit']:hover { background: #A3442F;}
.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight { background: #A3442F;}

.openerp .oe_stat_button:hover { background: #2E8EB0;}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active { background: #2E8EB0; }
.text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected { background: #2E8EB0;}
.openerp .oe_searchview_drawer .oe_searchview_section li.badge { background-color: #2E8EB0; }
.openerp .badge { background-color: #2E8EB0;}
#oe_main_menu_navbar { background: #2E8EB0!important;}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active { background: #2E8EB0;}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected { background: #2E8EB0;}
.openerp .oe_stat_button:hover { background: #2E8EB0;}
.openerp .oe_searchview_drawer .oe_searchview_section li.badge { background-color: #2E8EB0;}
.openerp .badge { background-color: #2E8EB0;}
.oe_breadcrumb_title span { color: #2E8EB0!important;}
.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row h2 { color: #2E8EB0!important;}
.openerp .oe_searchview_drawer dt { color: #2E8EB0;}
.openerp .oe_stat_button .stat_button_icon { color: #2E8EB0;}
.openerp .oe_horizontal_separator { color: #2E8EB0;}
.oe_breadcrumb_title span { color: #2E8EB0!important;}
.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row h2 { color: #2E8EB0!important;}
.openerp .oe_searchview_drawer dt { color: #2E8EB0;}
.openerp .oe_stat_button .stat_button_icon { color: #2E8EB0;}
.openerp .oe_horizontal_separator { color: #2E8EB0;}

.oe_secondary_menu_section { font-size: 12px!important; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background: #1D4C7D;}
.btn-primary, .oe_suggestion_follow { background: #1D4C7D!important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {background: #1D4C7D;}
.openerp .oe_application .ui-datepicker-calendar .ui-state-active { background: #1D4C7D;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus, .oe_application_menu_placeholder>li.active a:hover, .oe_application_menu_placeholder>li:hover { background: #1D4C7D!important;}
.openerp .oe_followers button.oe_follower.oe_following, .openerp .oe_followers button.btn.btn-default.dropdown-toggle { background: #1D4C7D;}
.ui-datepicker td .ui-state-active { background: #1D4C7D;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #1D4C7D;}
.openerp .oe_about .label { background-color: #1D4C7D;}
.openerp .oe_about .user-details .user-info-block .navigation li.active a {background-color: #1D4C7D;}
input[type="checkbox"]:checked:after { background-color: #1D4C7D; border-color: #1D4C7D; }
.oe_form_field_status .oe_active .label { color: #1D4C7D!important;}
.oe_secondary_submenu li.active a { color: #1D4C7D!important;}
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active a { color: #1D4C7D!important;}
.openerp .oe_tag_dark, .oe_facet_category, .oe_facet_values {color: #1D4C7D!important;}
.openerp .oe_application .ui-datepicker-calendar a { color: #1D4C7D;}
.openerp .oe_list_content>tbody>tr>td>button:hover { color: #1D4C7D!important;}
.openerp .oe_about a {color: #1D4C7D;}
.ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {color: #1D4C7D;}
.openerp ul.oe_form_status li.oe_active > .arrow span, .openerp ul.oe_form_status_clickable li.oe_active > .arrow span { border-color: #1D4C7D!important;}

#oe_main_menu_navbar li a, #oe_main_menu_navbar li button { font-size: 13px!important; }
